<p style="color: green"><%= notice %></p>

<% content_for :title, "Tweets" %>

<h1>Tweets</h1>

<%= form_with url: tweets_path, method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: "Buscar Tweets" %>
  <%= submit_tag "Buscar" %>
<% end %>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
      <%= link_to "Show this tweet", tweet %>
    </p>
  <% end %>
</div>

<%= link_to "New tweet", new_tweet_path %>
<%= link_to 'Ver más', tweets_path(page: @tweets.next_page) if @tweets.next_page %>