<p style="color: green"><%= notice %></p>
<h1>Show de Tweet</h1>

<%= render @tweet %>

<div>
  <%= link_to "Edit this tweet", edit_tweet_path(@tweet) , class: 'btn btn-primary' %> |
  <%= link_to "Back to tweets", tweets_path, class: 'btn btn-primary' %>
</div>
<br>
<div>
  <%= button_to "Destroy this tweet", @tweet, method: :delete %>
</div>